

{% extends "base.html" %}
{% load static %}
{% block title %} Welcome {% endblock %}

{% block content %}
    <h1>Welcome to the Meetings App!</h1>
    <p>
        This is the demo application for the course
        <em>Django: The Django Fundamental Course</em>.
        on <a href="https://www.pluralsight.com">
        Pluralsight</a>.
    </p>  

    <img src="{% static 'meetings/Divya.jpg' %}" width="100px">

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}"> 
                    {{meeting.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}"> Rooms list </a>
{% endblock %}

